* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #a09fa0;
    min-height: 100vh;
    padding: 40px 20px;
    min-width: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    color: black;
    margin-right: 40px
}

header p {
    font-size: 1.2em;
    opacity: 0.9;
}

.heart-icon {
    font-size: 1.5em;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.like-button {
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 1.3em;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
    width: 350px;
    max-width: 400px;
}

.like-button:hover {
    box-shadow: 0 8px 20px rgba(102, 126, 234, 0.7);
    transform: translateY(-3px);
}

.like-button:active {
    transform: scale(0.95);
}

.like-button.instagram {
    background: linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.like-button.whatsapp {
    background: linear-gradient(135deg, #25D366 0%, #1da851 100%);
}

.like-button.youtube {
    background: linear-gradient(135deg, #FF0000 0%, #cc0000 100%);
}

.like-button.github {
    background: linear-gradient(135deg, #333 0%, #000 100%);
}

.like-button.linkedin {
    background: linear-gradient(135deg, #0077b5 0%, #005582 100%);
}

.like-button.email {
    background: linear-gradient(135deg, #34A853 0%, #2d8e47 100%);
}

.container-enddress-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
}

.container-bitcoin-address-text {
    gap: 10px;
}

footer {
    text-align: center;
    color: black;
    margin-top: 50px;
    opacity: 0.8;
}

@media (max-width: 900px) {
    header h1 {
        font-size: 2em;
    }

    .container header h1{
       margin-top: 100px;
    }

     .social-buttons {
        gap: 30px;
    }
}

@media (max-width: 1100px) {
    .container header h1 {
        margin-top: 100px;
    }

    .social-buttons {
        gap: 30px;
    }

    .like-button {
        width: 100%;
    }
}
@media (max-width: 500px) {
    
    .container header {
        margin-bottom: 10px;
    }

    .container header h1 {
        margin-top: 10px;
    }

    .like-button {
        max-width: 300px;
    }

    .social-buttons {
        gap: 15px;
    }

    .container-enddress-text {
        font-size: 1em;
        gap: 20px;
    }
}


